$primaryColor: #005AAB;
$secondaryColor: #FFD400;
$primaryTextColor: #062945;
$white: #ffffff;
$backgroundLight: #ECEFF1;
$lightGray: #FAFAFA;
$backgroundDarkGray: #E6E7E8;

$leftPadd: 5rem; // 80px
$leftPaddSmall: 2.5rem; // 40px
