.main-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;

    $this: &;

    &.active {
        #{$this}__dropdown {
            transform: translateX(0);
        }
        #{$this}__left {
            &::before {
                transform: rotate(45deg) translateX(75%);
                background: $primaryColor;
                opacity: 1;
            }
        }
    }
    &:hover, &.active {
        #{$this}__left {
            background-color: $secondaryColor;
        }
        #{$this}__logo {
            .path1 {
                color: $primaryColor;
            }
            .icon-mini-logo-text {
                color: $secondaryColor;
            }
        }
        #{$this}__title > span {
            color: $primaryColor;
        }
    }
    &__left {
        position: relative;
        height: inherit;
        padding: 16px 11px;
        overflow: hidden;
        background-color: $primaryColor;
        transition: .5s;
        user-select: none;
        cursor: pointer;

        &::before {
            right: 0;
            bottom: 10%;
            transform: rotate(45deg) translateX(140%);
            opacity: 0;
            transition: .3s;
        }
    }
    &__logo {
        .path1, .icon-mini-logo-text {
            transition: .5s;
        }
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        white-space: nowrap;

        &-icon {
            margin-right: 15px;
            vertical-align: middle;
        }
        & > span {
            transition: .5s;
        }
    }

    &__dropdown {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(-100%);
        padding-left: $leftPadd;
        background-color: $primaryColor;
        transition: .5s;
    }
}
