.offer {
    $t: &;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: $primaryColor;
    transition: .5s;
    will-change: background-color;

    img {
        max-width: 100%;
    }
    &:hover {
        background-color: $secondaryColor;

        #{$t}__title, #{$t}__btn {
            color: $primaryColor;
        }
        #{$t}__text {
            color: $primaryTextColor;
        }
    }
    &__header {
        margin-bottom: rem(25);
    }
    &__title {
        margin-bottom: rem(5);
        color: $secondaryColor;
        transition: .5s;

        will-change: color;
    }
    &__text {
        transition: .5s;
        will-change: color;
    }
    &__img {
        margin-bottom: rem(10);
    }
    &__btn-wrapper {
        text-align: right;
    }
    &__btn {
        font-weight: 500;
        color: $white;
        transition: .5s;
        will-change: color;
    }
}
