.text {
    &_size {
        &_12 {
            font-size: rem(12);
        }
        &_14 {
            font-size: rem(14);
            @include md(font-size, rem(14));
        }
        &_20 {
            font-size: rem(20);
            @include md(font-size, rem(16));
        }
        &_24 {
            font-size: rem(24);
            @include md(font-size, rem(20));
        }
        &_30 {
            font-size: rem(30);
            @include md(font-size, rem(25));
            @include xs(font-size, rem(20));
        }
        &_96 {
            font-size: rem(96);
            @include md(font-size, rem(85));
            @include xs(font-size, rem(45));
        }
    }
    &_color {
        &_textPrimary {
            color: $primaryTextColor;
        }
        &_primary {
            color: $primaryColor;
        }
        &_secondary {
            color: $secondaryColor;
        }
        &_gray {
            color: $lightGray;
        }
        &_white {
            color: $white;
        }
    }
    &_weight {
        $zero: 0;
        @for $w from 3 to 8 {
            &_#{$w}00 {
                font-weight: #{$w}#{$zero}0;
            }
        }
    }
}
