.nav {
    $this: &;

    padding: rem(30) 0;

    @include sm(padding, rem(20) 0);

    &_theme {
        &_white {
            #{$this}__link, #{$this}__language, #{$this}__phone, #{$this}__subtitle {
                color: $white;
            }
            #{$this}__phone-wrapper {
                border-color: $white;
            }
        }
    }
    &__links {
        margin: 0 rem(-15);

        @include sm(position, fixed);
        @include sm(top, 0);
        @include sm(right, 0);
        @include sm(bottom, 0);
        @include sm(left, 0);
        @include sm(z-index, 10);
        @include sm(display, flex);
        @include sm(flex-direction, column);
        @include sm(justify-content, space-between);
        @include sm(transform, translateX(-100%));
        @include sm(background-color, $primaryColor);
        @include sm(transition, .5s);

        &.active {
            @include sm(transform, translateX(0));
        }
    }
    &__link {
        display: inline-block;
        position: relative;
        margin: 0 rem(15);
        padding: rem(9) 0;
        text-transform: uppercase;

        @include sm(display, block);
        @include sm(margin, 0 0 rem(24) 0);
        @include sm(font-size, rem(18));
        @include sm(font-weight, 700);

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: rem(1);
            transition: .3s;
            background-color: $secondaryColor;
        }

        &:hover, &.active {
            &::after {
                width: rem(25);
            }
        }
        &.active {
            color: $secondaryColor;
        }
    }

    &__right {
        display: flex;
        align-items: flex-start;

        @include sm(display, none);
    }
    &__languages {
        display: flex;
        padding-right: rem(34);
        margin: 0 rem(-7.5);
    }
    &__language {
        padding: rem(5) rem(7.5);
        text-transform: uppercase;
        transition: .3s;

        &:hover, &.active {
            color: $secondaryColor;
        }
    }
    &__phone-wrapper {
        padding-left: rem(34);
        border-left: 1px solid;
    }
    &__contacts-mobile {
        display: none;
        background: rgba(0, 0, 0, 0.05);
        padding: rem(35) rem(40) rem(35) rem(40);

        @include sm(display, block);
    }
    &__links-mobile {
        position: relative;
        @include sm(padding, rem(60) rem(40) rem(35) rem(40));
    }
    &__hamburger-wrapper {
        display: none;
        justify-content: flex-end;

        @include sm(display, flex);
    }
    &__hamburger {
        font-size: rem(24);
        cursor: pointer;
    }
    &__contact {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
    &__close {
        display: none;
        @include sm(position, absolute);
        @include sm(top, rem(20));
        @include sm(right, rem(30));
        @include sm(display, block);
    }
}
