extends layouts/default
include helpers/mixins

block variables
	- const title = "Automaster.uz"
	-
		let links = [
			{title: 'Главная', href: '/', active: true},
			{title: 'Решения', href: '/solution', active: false},
			{title: 'Портфолио', href: '/portfolio', active: false},
			{title: 'О нас', href: '/about-us', active: false},
		],
		language = [
			{value: 'rus', active: true},
			{value: 'eng', active: false}
		],
		bigBanner = [
			{
				title: 'Новое поступление шиномонтажных станков',
				para: 'Автоматический ввод трех  параметров,<br/> LCD монитор,  мультиоператор, aludata, 220В',
				button: 'Подробнее',
				dotDesc: "Новые поступления",
				image: "./img/big-banner_bg-1.jpg",
				darken: false
			},
			{
				title: 'Открытие нового офиса на Нуркена Абдирова 5',
				para: 'Новый, уютный, с гостевой комнатой,<br/> для посетителей и рабочих',
				button: 'Подробнее',
				dotDesc: "Открытие нового офиса",
				image: "./img/big-banner_bg-2.jpg",
				darken: true
			},
			{
				title: 'Запуск нового проекта по реставрации автомобилей',
				para: 'Ваш раритеный автомобиль заживет новой жизнью,<br/> после посещения нашей мастерской',
				button: 'Подробнее',
				dotDesc: "Запуск нового проекта",
				image: "./img/big-banner_bg-3.jpg",
				darken: true
			},
		],
		menu = [
			{
				title: 'Подъемное оборудования',
				icon: 'icon-menu-lift',
				img: 'icon-menu-lift'
			},
			{
				title: 'Компрессоры',
				icon: 'icon-menu-speed',
				img: 'icon-menu-compressor'
			},
			{
				title: 'Оборудование для замены масла',
				icon: 'icon-menu-oil',
				img: 'icon-menu-oil'
			},
			{
				title: 'Электронные и диагностические приборы',
				icon: 'icon-menu-cabel',
				img: 'icon-menu-electro'
			},
			{
				title: 'Моечное оборудование',
				icon: 'icon-menu-spray',
				img: 'icon-menu-wash'
			},
			{
				title: 'Шиномонтажные стенды',
				icon: 'icon-menu-pressure',
				img: 'icon-menu-wash'
			},
			{
				title: 'Ручные инструменты',
				icon: 'icon-menu-wrench',
				img: 'icon-menu-wrench'
			},
			{
				title: 'Подъемные оборудования',
				icon: 'icon-menu-blowtorch',
				img: 'icon-menu-balance'
			},
			{
				title: 'Домкраты',
				icon: 'icon-menu-jack',
				img: 'icon-menu-jack'
			},
			{
				title: 'Кузовные работы',
				icon: 'icon-menu-carcass',
				img: 'icon-menu-carcass'
			},
			{
				title: 'Шиномонтажные стенды',
				icon: 'icon-menu-tire',
				img: 'icon-menu-stands'
			},
		],
		advantage = [
			{
				title: 'Опыт разработки диагностического оборудования',
				icon: 'repair'
			},
			{
				title: 'Регулярное участие в технических конференциях',
				icon: 'building'
			},
			{
				title: 'Участие в обучении и подготовке специалистов СТО',
				icon: 'worker'
			},
			{
				title: 'Опыт работы на дилерских и независимых СТО',
				icon: 'wheels'
			},
			{
				title: 'Регулярные обучения у производителей оборудования',
				icon: 'car'
			},
			{
				title: 'Опыт разработки диагностического оборудования',
				icon: 'repair'
			},
		],
		offers = [
			{
				title: 'Premium',
				desc: 'Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.',
			},
			{
				title: 'Electro',
				desc: 'Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. ',
			},
			{
				title: 'Standard',
				desc: 'Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.',
			},
			{
				title: 'Electro',
				desc: 'Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.',
			},
		]

block content
	include ../blocks/modules/main-menu/main-menu
	include ../blocks/modules/big-banner/big-banner
	include ../blocks/modules/advantages/advantages
	section.section.section_size_medium.bg-primary
		.container
			include ../blocks/modules/menu/menu
	include ../blocks/modules/offer/offer



block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
