footer.footer
    .container
        .footer__inner
            small.text.text_size_12.text_color_textPrimary Copyright © automaster.uz 2019-2029
            small.text.text_size_12.text_color_textPrimary Created by 360 creative agency
