.feedback {
    position: relative;
    margin-bottom: rem(20);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &::before {
        bottom: 0;
        left: 10%;
        transform: translateY(50%) rotate(45deg);
    }

    &__header {
        margin-bottom: rem(90);
        @include md(margin-bottom, rem(40));
    }
    &__body {
        @include row-flex();
    }
    &__contact {
        &:not(:last-child) {
            margin-bottom: rem(60);
            @include md(margin-bottom, rem(20));
        }
    }
    &__input {
        display: block;
        margin-bottom: rem(15);
    }
    &__send {
        margin-top: rem(30);

        @include md(margin-top, rem(15));
        span {
            vertical-align: middle;
            margin-right: rem(15);
        }
    }
    h2 {
        color: $secondaryColor;

        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    .inner-wrapper {
        @include col();
        @include size(10);
        @include size-md(11);
        @include size-sm(12);
    }
    .info-col {
        @include col();
        @include size(5);
        @include size-sm(12);
        @include md(margin-bottom, rem(40));
    }
    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
        @include col();
        @include size(7);
        @include size-sm(12);

        .col {
            @include col();
            @include size(6);
            @include size-md(12);
        }
        .col-expand {
            @include col();
            @include size(12);
        }
        .row {
            @include row-flex();
        }
    }
}
