h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

body, html {
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: $leftPadd;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}
:root {
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
}

.overflow-hidden {
    overflow: hidden;
}


a {
    color: inherit;
    text-decoration: none;
}


h1 {
    font-size: rem(65);
}
h2 {
    font-size: rem(50);
}
h3 {
    font-size: rem(40);
}
h4 {
    font-size: rem(30);
}
h5 {
    font-size: rem(24);
}


p {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: rem(16);
    color: $primaryTextColor;
}
.bg-primary {
    background-color: $primaryColor;
}
.advantage-b {
    margin-bottom: rem(40);
    &__icon {
        display: inline-block;
        margin-bottom: rem(20);
        font-size: rem(48);
    }
}
.cube {
    &::before {
        content: '';
        position: absolute;
        display: block;
        transform: rotate(45deg);
        background: inherit;
        transition: transform .5s;
    }
    &_size {
        &_small {
            &::before {
                width: 10px;
                height: 10px;
            }
        }
        &_large {
            &::before {
                width: 24px;
                height: 24px;
            }
        }
    }
    &.btn {
        &::before {
            top: 100%;
            left: 18px;
            transform: translateY(-50%) rotate(45deg);
        }
    }
}

.items {
    @include row-flex();
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primaryColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
    &, &:hover {
        background: $secondaryColor;
        border-radius: 5px;
    }
}


.section {
    &_size {
        &_small {
            padding: rem(50) 0;
        }
        &_medium {
            padding: rem(75) 0;
        }
        &_large {
            padding: rem(100) 0;
        }
        &_mega {
            padding: rem(125) 0;
        }
        &_ultra {
            padding: rem(150) 0;
        }
    }
}

.offers {
    .swiper-slide {
        height: auto;
    }
    h2 {
        margin-bottom: rem(45);
        color: $primaryColor;
    }
    .items {

    }
    .item {
        @include col();
        @include size(3);
    }
}

.padding-30 {
    padding: rem(30);
}
.padding-h-30 {
    padding: 0 rem(30);
}
.padding-v-30 {
    padding: rem(30) 0;
}
