h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, 100%);
    @include md(max-width, rem(900));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

body, html {
    min-width: rem(320);
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: $leftPadd;
    min-height: 100vh;

    @include md(padding-left, $leftPaddSmall);
    main {
        flex-grow: 1;
    }
}
:root {
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
}

.overflow-hidden {
    overflow: hidden;
}


a {
    color: inherit;
    text-decoration: none;
}


h1 {
    font-size: rem(65);
    @include lg(font-size, rem(50));
    @include md(font-size, rem(40));
    @include xs(font-size, rem(28));
}
h2 {
    font-size: rem(50);
    @include lg(font-size, rem(45));
    @include md(font-size, rem(35));
    @include xs(font-size, rem(32));
}
h3 {
    font-size: rem(40);
    @include lg(font-size, rem(35));
    @include md(font-size, rem(30));
    @include xs(font-size, rem(30));
}
h4 {
    font-size: rem(30);
    @include md(font-size, rem(25));
    @include xs(font-size, rem(20));
}
h5 {
    font-size: rem(24);
    @include md(font-size, rem(20));
    @include xs(font-size, rem(16));
}


p {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: rem(16);
    @include md(font-size, rem(14));
}
.bg-primary {
    background-color: $primaryColor;
}
.advantage-b {
    margin-bottom: rem(40);
    &__icon {
        display: inline-block;
        margin-bottom: rem(20);
        font-size: rem(48);
    }
}
.cube {
    &::before {
        content: '';
        position: absolute;
        display: block;
        transform: rotate(45deg);
        background: inherit;
        transition: transform, background-color, .5s;
    }
    &_size {
        &_small {
            &::before {
                width: rem(10);
                height: rem(10);
            }
        }
        &_large {
            &::before {
                width: rem(24);
                height: rem(24);
            }
        }
    }
    &.btn {
        &::before {
            top: 100%;
            left: rem(18);
            transform: translateY(-50%) rotate(45deg);
        }
    }
}

.items {
    @include row-flex();
}

/* width */
::-webkit-scrollbar {
  max-width: rem(10);
}

/* Track */
::-webkit-scrollbar-track {
  background: $primaryColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
    &, &:hover {
        background: $secondaryColor;
        border-radius: rem(5);
    }
}


.section {
    &_size {
        &_small {
            padding: rem(50) 0;
        }
        &_medium {
            padding: rem(75) 0;
            @include md(padding, rem(40) 0);
        }
        &_large {
            padding: rem(100) 0;
            @include md(padding, rem(40) 0);
        }
        &_mega {
            padding: rem(125) 0;
            @include md(padding, rem(40) 0);
        }
        &_ultra {
            padding: rem(150) 0;
        }
    }
}

.offers {
    .swiper-slide {
        height: auto;
    }
    h2 {
        margin-bottom: rem(45);
        color: $primaryColor;

        @include md(margin-bottom, rem(25))
    }
    .items {

    }
    .item {
        @include col();
        @include size(3);
    }
    &__container {
        @include xsm(padding-right, rem(0))
    }
}

.padding-30 {
    padding: rem(30);
}
.padding-h-30 {
    padding: 0 rem(30);
}
.padding-v-30 {
    padding: rem(30) 0;
}


.link {
    transition: .3s;
    &:hover {
        opacity: .8;
    }
}


.close-btn {
    padding: rem(10);
    margin: rem(-10);
    font-size: rem(24);
    cursor: pointer;
}

::-webkit-resizer {
    display: none;
}
